*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
font-weight:bold;
text-decoration:none;
}

a:link {
color:#0000FF;
}

a:visited {
color:#6600FF;
}

a:hover {
color:#FF0099;
text-decoration:underline;
}

a:active {
color:#33CC00;
}

body{
    display: flex;
    background-color:#008b8b
}

.nav-wrapper{
    height: 100vh;
    width: 18%;
    background-color:#e0ffff
}
.nav{
    margin-top: 43px;
    margin-left: 18px;
}
.nav-content{
    display: flex;
    margin-bottom: 31px;
    align-items: center;
}
.nav-icon{
    height: 8px;
    width: 8px;
    margin-right: 9px;
    border-radius: 50%;
}

.contents-wrapper{
    height: 100%;
    width: 82%;
}

.heading{
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
}

.contents-wrapper-inner{
    display: flex;
    width: 880px;
    margin: 0 auto;
}

.content-left{
    width: 350px;
}

face-photo{
    width: 100%;
    height: 414px;
    margin-bottom: 23px;
    border:0
}

.profile{
    margin-bottom: 40px;
    margin-left: 20px;
}
.access-counter{
    width: 300px;
    margin-bottom: 20px;
}

.content-right{
    width: 530px;
}

.news-heading{
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
   color: #daa520;
}

/* 点滅 */
.blink {
	animation: blinking 1s ease-in-out infinite alternate;
}
 
@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


.news-list{
    margin-right: 10px;
    margin-left: 10px;
font-weight: bold;
}
.news-list-title{
    margin-top: 5px;
    margin-bottom: 4px;
    
}
.news-list-description{
    margin-bottom: 30px;
    margin-left: 80px;
}

.anime {
   animation: mochimochi 1s infinite;
}


  @keyframes mochimochi {
  0% {
    transform: scale(1, 0.8);
  }
  20% {
    transform: scale(0.8, 1.1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
